services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: passman
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: VeryStrongPassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: kindast/passman.backend:latest
    environment:
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=passman;Username=postgres;Password=VeryStrongPassword
      AllowedCorsOrigins: "http://localhost:80"
      JwtSettings__SecretKey: "YourVeryVeryVeryVeryVeryVerySecretJWTKey" #Минимум 32 символа
      ASPNETCORE_ENVIRONMENT: Production
    depends_on:
      - db
    ports:
      - "8080:8080"
    volumes:
      - type: bind
        source: "./uploads" #Директория с изображениями пользователей
        target: /app/wwwroot/uploads

  frontend:
    image: kindast/passman.frontend:latest
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  pgdata:
