version: "3.8"
services:
  passman-api:
    image: kindast/passman.backend:latest
    ports:
      - "8081:8080"
    environment:
      ConnectionStrings__DefaultConnection: "Server=passman-db,1433;Initial Catalog=PassMan;Persist Security Info=True;User ID=sa;Password=<DBPassword>;MultipleActiveResultSets=true;Encrypt=true;TrustServerCertificate=true;"
      AllowedCorsOrigins: "http://localhost:80,file://"
      JwtSettings__Secret: "<YourVerySecretKey_min_32_length>"
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - passman-db
    networks:
      - passman-net

  passman-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "<DBPassword>"
      MSSQL_PID: "Express"
    volumes:
      - db-data:/var/opt/mssql
    networks:
      - passman-net

  passman-web:
    image: kindast/passman.frontend:latest
    ports:
      - "80:80"
    depends_on:
      - passman-api
    networks:
      - passman-net

volumes:
  db-data:

networks:
  passman-net:
